<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SLImagePicker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>71CD9C401CD89C5C005B8A1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71CD9C591CD89C5C005B8A1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71CD9C641CD89C5C005B8A1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
